h1 {
    font-size: 44px;
}

header {
       overflow: hidden;
       margin-bottom: 1em;
       background-color: rgba(49, 79, 79, .5);
       border-radius: 25px;

}

}

p {
    background-color: rgba(49, 79, 79, .5);
    border-radius: 20px;
    padding: 2px;
    margin: 10px;
    color: white;
    text-shadow: 2px 2px #ff0000;
}

 #pic {
            margin: 1em;
            float: left;
            width: 100px;
            border-radius: 10px;
            box-shadow: 2px 2px 2px black;
            opacity: .6;
      }
           

           
footer {
               text-align: center;
               font-size: .08em;
             position: absolute;
            bottom: 0;
            margin-left: 40%;
           }
           
body {
               font-family: arial;
               text-align: center;
               height: 100vh;
               background: url("http://wallpapercave.com/wp/quYHEGK.jpg");
               background-size: cover;
 }
 
 #container {
     height:100%;
     position: relative;
     background-color: rgba(49, 79, 79, .5);
;
 }
 
 #leftside {
     float: left;
     width: 45%;
     text-shadow: .45px .45px navy;
 }
 
 #rightside {
     float: right;
     width: 45%;
     text-shadow: .5px .5px gray;
 }
 