           body {
              background-color: #grey;
           }

           #leftpart {
               font-family: arial;
               text-align: center;
               width: 50%;
               position: absolute;

           }

           #rightpart {
              position: relative;
              float: right;
              width: 500px;
              height: 500px;
              overflow: hidden;
              margin-right: 40px;

           }
           
           p {
               line-height: 1.5;
           }
           
           #pic, .little, .dog {
               width: 120px;
               height: 120px;
               border-radius: 50%;
               box-shadow: 2px 2px 2px black;
               margin-right: 1em;
               margin-left: 1em;
           }
           
           footer {
               text-align: center;
               font-size: .08em;
           }


           #buttoncontainer {

           }

           .button {
            border-radius: 10px;
            background-color: rgba(232,232,238, .9);
            text-align: center;
            display: inline-block;
            margin: 10px;
           }